############################
# Default: ignore everything
############################
*

############################
# Allow directories
############################
!*/

############################
# Allow important folders
############################
!config/**/*

############################
# Server config files
############################
!server.properties
!eula.txt
!*.sh
!*.ps1
!*.example.json

############################
# Doc files
############################
!*.md

############################
# Ignore runtime junk
############################
logs/
crash-reports/
run/
libraries/

############################
# Ignore mods & assets
############################
mods/
*.jar
*.png
*.mrpack

############################
# Ignore worlds & player data
############################
world/*

############################
# OS / editor junk
############################
.DS_Store
.idea/
.vscode/
*.swp
